.jwPage{

    .jw1{
        align-items: center;
        justify-content: space-between;
        flex-flow: column;
        display: flex;

        .container{
            min-height: auto;
            padding-top: 120px;
            flex: 1;

            @include media-breakpoint-down(sm){
                padding-top: 40px;
                padding-bottom: 0;
            } 
        }

        .title{
            h2{
                @include media-breakpoint-down(sm){
                    font-size: 45px;
                    line-height: 1;
                }   
            }
        }

        .imgTo{

            img{
                height: 35px;
            }
        }

        .jwText{
            display: none;
            padding-top: 30px;

            @include media-breakpoint-down(sm){
                display: block;
                padding-bottom: 0;
            }
        }
    }

    .jw2{
        padding-top: 40px;
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;

        @include media-breakpoint-down(sm){
            min-height: auto;
        }

        .imgBt{
            position: absolute;
            right: 10%;
            top: -20px;

            img{
                width: 106px;
            }
        }

        .container{
            min-height: auto;
            align-items: center;

            @include media-breakpoint-down(sm){
                padding-top: 10px;
            }
        }

        .jwText{
            display: block;
            @include media-breakpoint-down(sm){
                display: none;
            }
        }

        .imgTo{
            img{
                width: 145px;
            }
        }
    }

    .imgjw1{
        width: 100%;

        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    .imgjw1m{
        width: 100%;
        display: none;

        @include media-breakpoint-down(sm){
            display: block;
        }
    }

    .jwText{
        padding: 30px 0;

        @include media-breakpoint-down(sm){
            padding: 0px 0 20px;
        }

        p{
            color: $primary;
            font-size: 17px;
            text-align: center;
            white-space: pre-line;

            @include media-breakpoint-down(sm){
                white-space: initial;
            }
        }
    }


    .jw3{
        display: flex;
        justify-content: space-around;
        flex-flow: column;

        .jwText{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;

            @include media-breakpoint-down(sm){
                padding: 55px 15px 40px;
            }

            &.bg-primary{
                p{
                    color: #fff;
                }
            }

            .imgW{
                display: none;

                @include media-breakpoint-down(sm){
                    display: block;
                    padding: 30px 0;

                    img{
                        width: 200px;
                    }
                }
            }
        }
    }

    .bgImg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img{
            display: none;
        }

        @include media-breakpoint-down(sm){
            min-height: auto;
            background-image: none !important;

            img{
                display: block;
            }
        }
    }

    .footerLayer{
        background: $danger;

        @include media-breakpoint-down(sm){
            min-height: auto;

            .container{
                padding-bottom: 140px;
            }
        }

        p{
            color: #fff;
            white-space: pre-line;
            text-align: center;
        }

        .imgBottomF{
            position: absolute;
            bottom: 0;

            img{
                width: 143px;

                @include media-breakpoint-down(sm){
                    width: 190px;
                }
            }
        }
    }
}