// LFW
.lfwPage{

    .container{
        display: block;
    }

    .lfw1{
        
        @include media-breakpoint-up(md){
            padding-top: 140px;
        }

        .container{
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;

            @include media-breakpoint-down(sm){
                padding-bottom: 0;
            }
        }

        .imgBt{
            text-align: center;

            i{
                display: inline-block;
            }

            img{
                width: 71px;
                margin: 0px 4px;
            }
        }
    }

    //
    .imgGrid{
        margin-top: 35px;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        width: 100%;

        .iGrid{
            flex: 1;
            flex-basis: 25%;
            height: 156px;

            padding: 0 20px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            align-items: center;
            display: flex;
            justify-content: center;

            @include media-breakpoint-down(sm){
                flex-basis: 33.3333%;
                height: 105px;
            }

            &.i2{
                img{
                    height: 94px;
                }
            }

            &.i4{
                img{
                    height: 126px;
                }
            }

            &.i5{
                img{
                    height: 116px;
                }
            }

            &.i56{
                display: none;

                @include media-breakpoint-down(sm){
                    display: flex;
                }
            }

            &.i7{
                align-items: flex-end;
                img{
                    height: 56px;

                    @include media-breakpoint-down(sm){
                        height: auto;
                    }
                }
            }
        }
    }

    .lfwText{
        padding: 90px 0;

        @include media-breakpoint-down(sm){
            padding: 60px 0 0;
        }

        p{
            color: $primary;
            font-size: 17px;
            text-align: center;
            white-space: pre-line;

            @include media-breakpoint-down(sm){
                white-space: initial;
            }
        }

        .mbSpecial{
            position: relative;
            @include media-breakpoint-down(sm){
                background: $primary;
                padding: 50px 0;
                margin-top: 40px;

                &:after, &:before{
                    content: '';
                    background: $primary;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 50%;
                    z-index: -1;
                }

                &:after{
                    right: -15px;
                }

                &:before{
                    left: -15px;
                }
                
                p{
                    color: #fff;
                    margin: 0;
                }
            }
        }
    }

    .bgImg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include media-breakpoint-down(sm){
            background-image: none;
        }


        img{
            display: none;

            @include media-breakpoint-down(sm){
                display: block;
            }
        }
    }

    .fullVideo{

        video{
            padding: 15px;
            width: 100%;
        }

        @include media-breakpoint-down(sm){
            min-height: auto;
            .container{
                min-height: auto;
                padding: 15px 15px;
            }
        }
    }

    .footerLayer{
        background: $primary;

        .container{
            padding-top: 0;
            padding-bottom: 0;
        }

        @include media-breakpoint-down(sm){
            min-height: auto;
            background: transparent;
            .container{
                min-height: auto;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        .row{
            width: 100%;
        }

        .trioImg{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url('../img/pages/lfw/i11.png');

            img{
                display: none;
            }

            @include media-breakpoint-down(sm){
                background-image: none;

                img{
                    display: block;
                    margin-bottom: 30px;
                }
            }
        }

        .trioLinks{
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $primary;
            color: #fff;
            flex-flow: column;
            text-align: center;

            p{
                a{
                    color: #fff;
                }
            }

            .btn{
                margin-bottom: 30px;
            }

            .img11{
                img{
                    height: 50px;

                    @include media-breakpoint-down(sm){
                        height: 35px;
                    }
                }
            }

            .imgBottomF{
                position: absolute;
                bottom: 0;

                img{
                    width: 143px;
                }
            }

            @include media-breakpoint-down(sm){
                min-height: auto;
                padding: 40px 0 120px;

                &:after, &:before{
                    content: '';
                    background: $primary;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 50%;
                    z-index: -1;
                }

                &:after{
                    right: -15px;
                }

                &:before{
                    left: -15px;
                }

                .imgBottomF{
                    img{
                        width: 200px;
                    }
                }
            }
        }
    }
}