$jiotype-font-path: '../fonts/jiotype/';

// @font-face {
//     font-family: 'Galano Grotesque Alt';
//     src: url('../fonts/GalanoGrotesqueAlt-ExtraLight.woff2') format('woff2'),
//         url('../fonts/GalanoGrotesqueAlt-ExtraLight.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Galano Grotesque Alt';
//     src: url('../fonts/GalanoGrotesqueAlt-Regular.woff2') format('woff2'),
//         url('../fonts/GalanoGrotesqueAlt-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Galano Grotesque Alt';
//     src: url('../fonts/GalanoGrotesqueAlt-Medium.woff2') format('woff2'),
//         url('../fonts/GalanoGrotesqueAlt-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Galano Grotesque Alt';
//     src: url('../fonts/GalanoGrotesqueAlt-SemiBold.woff2') format('woff2'),
//         url('../fonts/GalanoGrotesqueAlt-SemiBold.woff') format('woff');
//     font-weight: 600;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Galano Grotesque Alt';
//     src: url('../fonts/GalanoGrotesqueAlt-Bold.woff2') format('woff2'),
//         url('../fonts/GalanoGrotesqueAlt-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Galano Grotesque Alt';
//     src: url('../fonts/GalanoGrotesqueAlt-ExtraBold.woff2') format('woff2'),
//         url('../fonts/GalanoGrotesqueAlt-ExtraBold.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Galano Grotesque Alt';
//     src: url('../fonts/GalanoGrotesqueAlt-Black.woff2') format('woff2'),
//         url('../fonts/GalanoGrotesqueAlt-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

$jiotype-font-path: '../fonts/jiotype/';

@font-face {
    font-family: "JioType";
    src: local(JioType Light),
    url('#{$jiotype-font-path}JioType-Light.eot');
    src: url("#{$jiotype-font-path}JioType-Light.eot?#iefix") format('embedded-opentype'),
    url("#{$jiotype-font-path}JioType-Light.woff2") format("woff2"),
    url("#{$jiotype-font-path}JioType-Light.woff") format("woff"),
    url("#{$jiotype-font-path}JioType-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "JioType";
    src: url('#{$jiotype-font-path}JioType-Medium.eot');
    src: url("#{$jiotype-font-path}JioType-Medium.eot?#iefix") format('embedded-opentype'),
    url("#{$jiotype-font-path}JioType-Medium.woff2") format("woff2"),
    url("#{$jiotype-font-path}JioType-Medium.woff") format("woff"),
    url("#{$jiotype-font-path}JioType-Medium.ttf") format("truetype");
    font-weight: norma;
}

@font-face {
    font-family: "JioType";
    src: url('#{$jiotype-font-path}JioType-Bold.eot');
    src: url("#{$jiotype-font-path}JioType-Bold.eot?#iefix") format('embedded-opentype'),
    url("#{$jiotype-font-path}JioType-Bold.woff2") format("woff2"),
    url("#{$jiotype-font-path}JioType-Bold.woff") format("woff"),
    url("#{$jiotype-font-path}JioType-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "JioType";
    src: url('#{$jiotype-font-path}JioType-Black.eot');
    src: url("#{$jiotype-font-path}JioType-Black.eot?#iefix") format('embedded-opentype'),
    url("#{$jiotype-font-path}JioType-Black.woff2") format("woff2"),
    url("#{$jiotype-font-path}JioType-Black.woff") format("woff"),
    url("#{$jiotype-font-path}JioType-Black.ttf") format("truetype");
    font-weight: 900;
}